username = ""
password = ""
client_id = ""
client_secret = ""
subreddit = ""
commentdb = "acted_comments.txt"
discord_webhook = ""
debuglog = "debug.log"
reports_notify_pause_seconds = 1800
unmodded_notify_pause_seconds = 3600
max_unmodded_age = 14400
bot_sleep_seconds = 600
low_score_comment_lookback = 500
low_score_notify_threshold = -10
